:root {
    /*--SOA-color1: #f2d6bb;
    --SOA-color2: #d19449;
    --SOA-color3: #c16228;
    --SOA-color4: #865a51;
    --SOA-color5: #716b4c;
    --SOA-color6: #184950; */
    
    --TColor-1: #f2d6bb;
    --TColor-2: #865a81;
    --TColor-3: #716b4c;

    --bodyColor: #412700;
    
    --serif: 'Cormorant Garamond', serif;
    --sans: 'Josefin Sans', sans-serif;

    --h1Size: clamp(2.50rem, calc(1.93rem + 2.86vw), 4.50rem); 
    /* 40-72px */
    --h2Size: clamp(2.00rem, calc(1.57rem + 2.14vw), 3.50rem);
    /* 32-56px */
    --h3Size: clamp(1.63rem, calc(1.27rem + 1.79vw), 2.88rem);
    /* 28-46px */
    --subheadSize: clamp(1.50rem, calc(1.29rem + 1.07vw), 2.25rem);
    /* 40-72px */
    --bodySize: clamp(1.13rem, calc(1.09rem + 0.18vw), 1.25rem);
    /* 18-20px */
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--sans);
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}
section{
    background-color: #fff;
}
/* HEADINGS */
h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    padding: 1rem;
    width: 70%;
    margin: 2vh auto;
}

h1 {
    font-family: var(--serif);
    font-weight: 700;
    font-size: var(--h1Size);
}

h2 {
    font-family: var(--serif);
    font-weight: 700;
    font-size: var(--h2Size);
}

h3 {
    font-family: var(--serif);
    font-weight: 700;
    font-size: var(--h3Size);
}

h4,
h5,
h6 {
    font-family: var(--serif);
    font-weight: 500;
    font-style: italic;
    font-size: var(--subheadSize);
}

/* BODY TEXT */
p {
    font-family: var(--sans);
    font-weight: 300;
    width: 65%;
    margin: 1em auto;
    font-size: var(--bodySize);
}

a {
    text-decoration: none;
}

/* IMAGE BLOCKS */
.imgBlock img {
    width: 100%;
}

.imgBlock p {
    width: 100%;
    font-size: 1rem;
    margin: 0.5em 0;
}

.caption {
    font-weight: 100;
}

.img_center {
    width: 70%;
    margin: 1em auto;
}

.img_right {
    width: 40%;
    float: right;
    margin: 0.5em 15% 0.5em 0.5em;
}

.img_left {
    width: 40%;
    float: left;
    margin: 0.5em 1.25em 0.5em 15%;
}

.img_split {
    width: 71%;
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
}

.img_split .img_center {
    margin: 0 0.5em;
}

/* TIMBER HOME */
/* BREADCRUMBS */
#breadcrumbs {
    display: flex;
    background-color: var(--TColor-3);
    padding: 0.75em 1em 3em;
    color: white;
    font-size: 1rem;
}

#breadcrumbs a {
    text-decoration: none;
    color: white;
}

#breadcrumbs a:hover,
#breadcrumbs a:active {
    text-decoration: underline;
}

#breadcrumbs .active {
    text-decoration: underline;
    font-weight: 500;
}

#breadcrumbs > * {
    padding: 0 0.5em;
    opacity: 0.8;
    font-weight: 300;
}
/* BACK TO TOP BUTTON */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #000;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #777;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* NAVBAR */
header {
    z-index: 1;
    position: relative;
    width: 100%;
    /* top: 1.75em; */
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    background-color: var(--TColor-1);
    font-size: clamp(1.25rem, calc(1.18rem + 0.36vw), 1.50rem);
    color: var(--bodyColor);
    transition: 0.3s;
    transition-property: top;
} 

.logo {
    padding: 1em 0.5em;
    text-transform: uppercase;
} 

header a {
    color: var(--bodyColor);
}


.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-property: right;
}

.menu a {
    padding: 1em 2em;
    transition: all 0.3s ease-in-out;
}

.menu a:hover,
.menu a:active {
    text-decoration: underline;
    background-color: hsl(50, 20%, 33%);
}

.menu-btn {
    padding: 1em;
    transition: all 0.4s ease-in-out;
}

.menu-btn:hover,
.menu-btn:active {
    z-index: 1;
    background-color: hsl(29, 68%, 79%);
}

.close-btn {
    transition: all 0.4s ease-in-out;
}

.close-btn:hover,
.close-btn:active {
    background-color: hsl(50, 20%, 30%);
}

.btn {
    cursor: pointer;
    display: none;
    font-size: 1.6rem;
}


.current {
    text-decoration: none;
    /*background-color: hsl(50, 20%, 30%);*/
    padding-bottom: 0px;
}

/* SUBLINKS */
.sublinks {
    display: none;
}


/* HERO */
#hero {
    width:100%;
    height: 87vh;
    background:black;
    position: relative;
}

#hero video {
    width:100%;
    height:100%;
    object-fit:cover;
    filter: brightness(60%);
}
#hero svg {
    filter: invert(1) opacity(0.8);
    transform: translateY(-25vh);
    width: 100%;
    height: 10vh;
    transition: all 0.3s ease-in-out;
}
#hero svg:hover, 
#hero svg:active {
    filter: invert(1) opacity(1);
    height: 12vh;
    transform: translateY(-25.5vh);
}

.hero-caption{
    color:white;
    padding-top: 50vh;
    font-size: 15vh;
    text-align: center;
}

#hero .title {
    position: absolute;
    top: 35%;
    z-index: 2;
    color: white;
    margin: 0 auto;
    display:flex;
    width: 100%;
    padding: 0;
    justify-content: left;
    text-align: left;
}

#hero .title .hero_headline{
    font-size: 7rem;
    padding-left: 0;
    margin-left: 4rem;
}


/* PANELS */
#content {
    width: 100%;
    height: 100vh;
}



#panelCont {
    width: 100%;
    height: 100vh;
    padding: 10vh 10%;
    justify-content: center;
    display: flex;
    background-color: var(--SOA-color1);
    transition: all 0.8s ease-in-out;
}

.panel {
    display: flex;
    width: 100vw;
    border: solid 2px white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat center;
    background-size: 80vw;
    text-align: center;
    filter: grayscale(1);
    transition: all 0.4s ease-in-out;
}

.panel:hover, 
.panel:active {
    cursor: pointer;
    background-size: 80vw;
    filter: grayscale(0);
    width: 250vw;
}


.cardText:hover,
.cardText:active {
    filter: none;
    filter: grayscale(0);
}

.cardText > * {
    width: 100%;
    color: white;
}

/* OTHER SECTIONS */
#introCont {
    width: 100%;
    height: 50vh;
    background-color: var(--SOA-color3);
    padding-top: 10vh;
}

#pastCont {
    width: 100%;
    height: 20vh;
    background-color: var(--SOA-color3);
}

#creditsCont {
    width: 100%;
    height: 100vh;
    background-color: var(--SOA-color6);
}



/* .cardText:hover,
.cardText:active {
    filter: none;
}

.cardText > * {
    margin: 0.25em 0;
} */

#footer {
    background-color: var(--TColor-3);
    height: 20vh;
}

@media (max-width: 2000px) {
    
    header {
        padding: 0em 5%;
    }
    
    .btn {
        display: block;
    }

    .menu {
        position: fixed;
        flex-direction: column;
        background-color: var(--TColor-3);
        color: white;
        min-width: 35vw;
        height: 100vh;
        overflow: hidden;
        /* top: inherit; */
        top: 0;
        right: -105%;
        /* opacity: 0.7; */
    }

    .menu a { 
        min-width: 40vw;
        text-align: center;
        padding: 1em 0;
        color: white;
    }

    .menu.active {
        right: 0;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 5.5vw;
        padding: 1em;
        /* background-color: red; */
    }

    /* SUBLINKS */
    .sublinks {
        display: flex;
        flex-direction: column;
        background-color: hsl(50, 20%, 47%);;
    }

}

@media screen and (max-width: 1080px) {
    #panelCont {
        flex-direction: column;
        
    }
    
    .panel {
        width: 80vw;
        background: no-repeat center;
        background-size: 100vw;
        height: 25vh;
    }
    
    .panel:hover, 
    .panel:active {
        background-size: 80vw;
        width: 80vw;
    }

    
    .cardText > * {
        margin: 0.25em 0;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    #breadcrumbs {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        min-width: 100vw;
    }

    .menu a {
        min-width: 100vw;
    }
    
    .cardText > * {
        margin: 0em 0;
        padding: 0;
        margin: 0;
    }
}
    
}

@media screen and (max-width: 500px) {
    .panel {
        height: 90vh;
    }

    .firstPanel {
        margin-top: 11vh;
    }

    .lastPanel {
        margin-bottom: 11vh;
    }

    .panel h2 {
        margin: 20vh 0 2vh;
    }

    .panel p {
        width: 80%;
    }

    #footer {
        height: 40vh;
    }
}

@media screen and (max-width: 374px) {
    header {
        top: 2.5em
    }
    
}